<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="zzz.css">
  <body>

<div class="wrap">
<div class="container">

  <div class="top">
    <br>
    <h2>👏🏻만들기 완료👏🏻<br>친구들에게 공유하세요</h2>
    <br>


    <br>
    <p>url자리</p>
      <!-- {{ user.url}} -->


    <div class="copy">
      <a href="#"><p>copy URL</p></a>
      <br>

    </div>


  </div>



  <div class="bottom">
    <p>아직 테스트에 참여한 친구가 없습니다.<br>링크를 공유해 보세요!</p>
  </div>

</div>


</div>



  </body>
</html>
