<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="zz.css">
  <body>

<div class="wrap">
<div class="container">

  <div class="top">
    <br>
    <h2>나의 점수</h2>

   <div class="circle">
     <p>1/10</p>

   </div>

   <div class="comment">
     <p>음 어색한 사이군요?🙃</p>

   </div>





  </div>


<div class="middle">
  <a href="#"><p>나의 우정테스트 만들기</p></a>

</div>


  <div class="bottom">
    <p>누가 가장 잘 알까요?<p>

      <div class="box">
        <table>
          <tr>
            <td>가나</td>



            <td>다라</td>
          </tr>
        </table>

      </div>

    </div>

</div>


</div>



  </body>
</html>
